os:
  - linux
  - osx

language: node_js

node_js:
  - 7
  - 8
  - 9
  - 10

after_script:
  - sleep 10
  - cat ./coverage/lcov.info | npx coveralls

matrix:
  exclude:
  - os: osx
    node_js: 7
  - os: osx
    node_js: 9

jobs:
  include:
    - stage: npm release
      node_js: "8"
      script: echo "Deploying to npm ..." && npm version
      deploy:
        provider: npm
        email: $NPM_EMAIL
        api_key: $NPM_TOKEN
        skip_cleanup: true
        on:
          branch: master
          tags: true
          repo: anishkny/webgif
