os:
  - linux
  - osx

language: node_js

node_js:
  - 8

jobs:
  include:
    - stage: npm release
      node_js: "8"
      script: echo "Deploying to npm ..." && npm version
      deploy:
        provider: npm
        api_key: $NPM_TOKEN
        skip_cleanup: true
        on:
          branch: master
          tags: true
          repo: anishkny/webgif
